/*=======Header styling=======*/
.white, .white a {
  color: #fff;
}

/*=======All articles styling=======*/

.content {
  margin-top: 70px;
  margin-bottom: 50px;
  width: 100%;
}

.homepageArticle {
  margin-bottom: 15px;
}

.homepageArticle img {
  max-height: 300px;
}

.homepageArticle p {
  font-size: 10px;
  margin:0;
}

/*=======Contributor styling=======*/

.contributorSection {
  float:right;
}

.contributorDiv{
  float:left;
  margin-bottom: 5px
}

.contributorImg {
  height: 45px;
  width: 40px;
  float:left;
}

.contributorTitle{
  float:left;
  margin:1px;
}

.contributorStats{
  float:left;
  margin:2px;
}

/*=======Single article styling=======*/

.headerSection{
  float:left;
  margin-bottom: 10px;
}

.articleImg {
  max-width: 30%;
  max-height: 250px;
  float:left;
}

.articleHeader {
  margin-top: -10px;
  padding-left: 10px;
  max-width: 65%;
  float:left;
}

.articleHeader h2, h4{
  margin-top: 10px
}

.articleHeader p {
  font-size: 10px;
  margin:0;
}

.progressBar {
  padding-top: 5px;
}

.articleContent {
  clear:left;
  margin-bottom: 5px;
}
.articleContent p {
  margin-bottom: 0;
}

.animate-switch-container {
  position:relative;
  background:white;
  height:40px;
  overflow:hidden;
}

.animate-switch.ng-animate {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  top:-50px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  top:0;
}

.editCount {
  font-size: 12px;
  color: #5bc0de;
  font-weight: bold;
  cursor:pointer;
}

.twitterSection {
  font-size: 12px;
}

/*=======Modal styling=======*/
.modal-header {
  box-shadow: 0 2px 2px #aaaaaa;
}

.Xmodal-body {
  position: relative;
  height: 300px;
  overflow: auto;
  padding: 20px 20px 0 20px;
}

.Xmodal-footer {
  padding: 19px 20px 20px;
  margin-top: 5px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

#right h6, a {
  font-size: 12px;
}

#left {
  width:45px;
  float:left;
  font-size: 12px;
  cursor: pointer;
}

#up {
  color:green;
}

#down {
  color:red;
  margin-bottom: 0;
}

del {
  color: red;
}

ins {
  color: green;
}

.newURL {
  margin-top: 5px;
}

/*=======Comments styling=======*/
.commentDiv {
  width: 100%;
  height: 100px;
}

.contributorInfo {
  float:left;
  width: 7%;
}

.commentContent {
  width: 90%;
  float:left;
}

.contributorComment {
  float:left;
  clear:left;
}

/*=======Angular Xeditable styling=======*/
.editable-wrap {
  display:inline-block;
  white-space:nowrap;
  margin:0;
}
.editable-wrap .editable-controls,
.editable-wrap .editable-error {
  margin-bottom:0;
}

.editable-wrap .editable-controls>input,
.editable-wrap .editable-controls>select,
.editable-wrap .editable-controls>textarea {
  margin-bottom:0;
}

.editable-wrap .editable-input {
  display:inline-block
}

.editable-buttons {
  display:inline-block;
  vertical-align:top
}

.editable-buttons button {
  margin-left:5px
}

.editable-input.editable-has-buttons {
  width:auto
}

.editable-bstime .editable-input input[type=text] {
  width:46px
}

.editable-bstime .well-small {
  margin-bottom:0;
  padding:10px
}

.editable-range output {
  display:inline-block;
  min-width:30px;
  vertical-align:top;
  text-align:center
}

.editable-color input[type=color] {
  width:50px
}

.editable-checkbox label span,
.editable-checklist label span,
.editable-radiolist label span {
  margin-left:7px;
  margin-right:10px
}

.editable-hide {
  display:none!important
}

.editable-click,
a.editable-click {
  text-decoration:none;
  color:#428bca;
  border-bottom:dashed 1px #428bca
}

.editable-click:hover,
a.editable-click:hover {
  text-decoration:none;
  color:#2a6496;
  border-bottom-color:#2a6496
}

.editable-empty,
.editable-empty:hover,
.editable-empty:focus,
a.editable-empty,
a.editable-empty:hover,
a.editable-empty:focus {
  font-style:italic;
  color:#D14;
  text-decoration:none
}