/*=======Homepage styling=======*/
.white, .white a {
  color: #fff;
}

/*=======All articles styling=======*/
.content {
  margin-top: 70px;
  margin-bottom: 50px;
  width: 100%;
}

.homepageArticle {
  margin-bottom: 15px;
}

.homepageArticle p {
  font-size: 10px;
  margin:0;
}

/*=======Contributor styling=======*/
.contributorSection {
  float:right;
}

.contributorDiv{
  float:left;
  margin-bottom: 5px
}

.contributorImg {
  height: 45px;
  width: 40px;
  float:left;
}

.contributorTitle{
  float:left;
  margin:1px;
}

.contributorStats{
  float:left;
  margin:2px;
}

/*=======Single article styling=======*/
.headerSection{
  float:left;
  margin-bottom: 10px;
}

.articleHeader{
}
.articleHeader h2, h4{
  margin-top: 10px
}

.articleHeader p {
  font-size: 10px;
  margin:0;
}

.articleContent {
  margin-bottom: 5px;
}
.articleContent p {
  margin-bottom: 0;
}

.editCount {
  font-size: 12px;
}

.articleImg {
  max-width: 30%;
  max-height: 250px;
  float:left;
}

.articleHeader {
  margin-top: -10px;
  padding-left: 10px;
  max-width: 65%;
  float:left;
}

/*=======Modal styling=======*/
#right h6, a {
  font-size: 12px;
}

#left {
  width:45px;
  float:left;
  font-size: 12px;
  cursor: pointer;
}

#up {
  color:green;
  padding-top: 50px
}

#down {
  color:red;
  margin-bottom: 0;
}