<nav class="navbar navbar-inverse navbar-fixed-top ng-scope" role="navigation" ng-controller="HeaderController" ng-init="getUser()">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-globe white"></span>
      </button>
      <a class="navbar-brand" href="#">Chameleon</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li data-ng-repeat="entry in navbarEntries" data-ng-class="{ active: entry.isActive }">
          <a data-toggle="collapse" data-target=".navbar-collapse" href="#{{entry.link}}">{{entry.title}}</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="authorized">
          <a data-toggle="collapse" data-target=".navbar-collapse" href="#/signup">Signup</a></li>
        <li ng-hide="authorized">
          <a data-toggle="collapse" data-target=".navbar-collapse" href="#/login">Login</a></li>
        <li ng-show="authorized">
          <a href="#/newpost" ng-click="newPost()">Add a new post</a></li>
        <li ng-show="authorized">
          <a href="" ng-click="logout()">Signout</a></li>
      </ul>
    </div>

  </div>
</nav>