<div class="row" data-ng-controller="LoginController">
  <h1>Login</h1>
    <form role="form">
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" ng-model="username">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control" ng-model="password">
      </div>
      <button type="submit" class="btn btn-info" ng-click="login()">Login</button>
      <button type="submit" class="btn btn-info" ng-click="logout()">Logout</button>
    </form>
  <br>
</div>
