<div data-ng-controller="OneArticleController" ng-init="sampleData()">

<!-- Main Article section -->
  <div class="col-md-10 col-sm-8 col-xs-12">
  <!-- Header section -->
    <div class="headerSection">
      <img class="articleImg" src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/da/SF_From_Marin_Highlands3.jpg/1599px-SF_From_Marin_Highlands3.jpg" />
      <div class="articleHeader">
        <h2>Article 1</h2>
        <h4 class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
        <p>April 5, 2014</p>
        <p><em>Original Source: New York Times</em></p>
        <p><em>Original Author: Paul Krugman</em></p>
      </div>
    </div>
    <!-- Article content section -->
    <div ng-repeat="paragraph in sampleData" class="articleContent text-justify">
      <p ng-click="editParagraph(this.paragraph)">{{paragraph}}</p>
      <p class="editCount"><b><em>Proposed edits: 3</em></b></p>
    </div>
  </div>

  <!-- Contributors section -->
  <div class="col-md-2 col-sm-4 col-xs-12 contributorSection">
    <h5>Top Contributors</h5>
    <div class="contributorDiv">
      <img class="contributorImg" src="http://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/President_Barack_Obama.jpg/960px-President_Barack_Obama.jpg">
      <h6 class="contributorTitle">POTUS</h6>
      <h6 class="contributorStats"># of edits: 20</h6>
    </div>
    <div class="contributorDiv">
      <img class="contributorImg" src="http://upload.wikimedia.org/wikipedia/commons/d/d4/George-W-Bush.jpeg">
      <h6 class="contributorTitle">BushLeague</h6>
      <h6 class="contributorStats"># of edits: 10</h6>
    </div>
    <div class="contributorDiv">
      <img class="contributorImg" src="https://pbs.twimg.com/profile_images/536177589/Hey_Ladies_-_Bill_Clinton.jpg">
      <h6 class="contributorTitle">BillInsideYa</h6>
      <h6 class="contributorStats"># of edits: 1</h6>
    </div>
  </div>


<!-- Script for creating a modal -->
  <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header text-justify">
        <h5>Current Text:</h5>
        <p>{{currentText}}</p>
      </div>
      <div class="modal-body text-justify">
        <div ng-repeat="item in items">
          <div id="left">
            <img class="contributorImg" src="http://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/President_Barack_Obama.jpg/960px-President_Barack_Obama.jpg">
            <p id="up"><span ng-click="voteUp()" class="glyphicon glyphicon-circle-arrow-up"</span>127</p>
            <p id="down"><span ng-click="voteDown()" class="glyphicon glyphicon-circle-arrow-down"</span>40</p>
          </div>
          <div id="right">
            <div>
              <h6>Edit proposed by: <a href="">POTUS</a></h6>
              <p>{{item}}</p>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
  </script>
</div>