<div data-ng-controller="OneArticleController" ng-init="findArticle()">

<!-- Main Article section -->
  <div class="col-md-10 col-sm-8 col-xs-12">
  <!-- Header section -->
    <div class="headerSection">
      <img class="articleImg" src={{article.article.image}} />
      <div class="articleHeader">
        <h2>{{article.article.title}}</h2>
        <p>April 5, 2014</p>
        <p><em>Original Source: {{article.postSource}}</em></p>
        <div class="progressBar">
          <div class="col-md-7">
            <progressbar class="progress-striped" max="100" value="(currentEditIndex * 100 / editMax)" type="info"><span style="color:black; white-space:nowrap;"> Showing edit {{currentEditIndex}} of {{editMax}} total edits</span></progressbar>
          </div>
          <div class="col-md-5" ng-hide="timelineActive" ng-click="enableTimeline()">
            <progressbar class="progress" value='100' type="info"><span style="color:black"> Show previous edits</span></progressbar>
          </div>
          <div class="col-md-5" ng-show="timelineActive" ng-click="pauseTimeline()">
            <progressbar class="progress" value='100' type="info"><span style="color:black">Pause timeline</span></progressbar>
          </div>
        </div>
      </div>
    </div>

    <!-- Article content section -->
    <div ng-repeat="paragraph in article.article.paragraphs" class="articleContent text-justify">
      <div ng-switch on="stringOrHTML(paragraph.currentText)">
        <p ng-switch-default ng-bind="paragraph.currentText"></p>
        <p ng-switch-when="HTML" ng-bind-html="paragraph.currentText"></p>
      </div>
      <p ng-click="editParagraph(this.paragraph, $index)" class="editCount" ng-show="paragraph.currentText">See proposed edits ({{paragraph.proposedText.length}} total) or submit a new one</p>
    </div>
  </div>

  <!-- Contributors section -->
  <div class="col-md-2 col-sm-4 col-xs-12 contributorSection">
    <h5>Top Contributors</h5>
    <div class="contributorDiv" ng-repeat="contributor in article.article.topContributors">
      <img class="contributorImg" src="{{contributor.image}}">
      <h6 class="contributorTitle">{{contributor.username}}</h6>
      <h6 class="contributorStats"># of edits: {{contributor.contribution}}</h6>
    </div>
  </div>

  <!-- Twitter section -->
  <div class="col-md-2 col-sm-4 col-xs-12 twitterSection">
    <h5>Related Tweets</h5>
      <div ng-repeat="tweet in tweets.statuses | limitTo:15">
        <a href="{{tweet.user.url}}" class="twitterTitle">{{tweet.user.name}}</a>
        <h6 class="twitterTitle">{{tweet.text}}</h6>
      </div>
      <button class="btn btn-xs btn-info col-md-11 col-sm-11 col-xs-12" ng-click="showHashtags=!showHashtags" ng-hide="showHashtags">Add more hashtags</button>
      <button class="btn btn-xs btn-info col-md-11 col-sm-11 col-xs-12" ng-click="showHashtags=!showHashtags;submitHashtags()" ng-show="showHashtags">Submit hashtags</button>
      <input type="text" ng-model="hashtags" ng-show="showHashtags"></input>
      <p ng-hide="showHashtags">{{hashtags}}</p>
  </div>


<!-- Script for creating a modal -->
  <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header text-justify">
        <h5>{{modalHeader}}</h5>
        <p editable-textarea="currentText" e-rows="7" e-cols="65" e-form="currentTextForm" blur="ignore">{{currentText || "empty"}}</p>
        <div class="newURLs" ng-show="showEdit">
          <h5>Source:</h5>
          <input type="text" class="form-control newURL" ng-model="newURL" placeholder="Please add sources for your edits">
        </div>
      </div>
      <div class="Xmodal-body text-justify" ng-hide="showEdit">
        <div ng-repeat="proposedText in proposedTexts" ng-init="proposedText.text = getDiff(currentText, proposedText.text)">
          <div id="left">
            <p id="up"><span ng-click="voteUp($index)" class="glyphicon glyphicon-circle-arrow-up"</span>{{proposedText.vote}}</p>
            <p id="down"><span ng-click="voteDown()" class="glyphicon glyphicon-circle-arrow-down"</span>0</p>
          </div>
          <div id="right">
            <div>
              <h6>Edit proposed by: <a href="">{{proposedText.username}}</a></h6>
              <p ng-bind-html="proposedText.text"></p>
              <h6>Sources</h6>
              <a href="{{source}}">{{source}}</a>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="Xmodal-footer">
        <button class="btn btn-info" ng-click="currentTextForm.$show();newEdit();" ng-hide="showEdit">Add a new Edit</button>
        <button class="btn btn-primary" ng-click="submit(currentText, newURL)" ng-show="showEdit">Submit new Edit</button>
        <button class="btn btn-warning" ng-click="cancel()">Close</button>
      </div>
  </script>